:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-button-color: #2196f3;
  --secondary-logo-color: #000000;
  --primary-logo-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-btn-color: #f5f4fa;
  --color-link: rgba(255, 255, 255, 0.6);
}
/* ----------------Reset-------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* ----------------Start-------------------- */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 93px;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-btn {
  display: flex;
  gap: 50px;
}

.contacts {
  display: flex;
  gap: 50px;
}

.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.feature-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.work-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.team-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.project-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-logo-color);
}

.studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-logo-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer-studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-bg-color);
}

/* ---------Студія----------- */
/* ----------HERO------------ */
.hero {
}

.hero-outside {
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--secondary-bg-color);
}

.hero-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;

  margin: 0 auto;

  color: var(--primary-bg-color);
}

.hero-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--primary-button-color);
  color: var(--primary-bg-color);

  margin: 0 auto;

  cursor: pointer;
}

.section {
  padding: 94px 0;
}

.section.work {
  padding-top: 0;
}

/* ----------FEATURE------------- */

.feature-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--primary-text-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/* -----------WORK----------- */

/* ------------OUR TEAM----------- */
.our-team {
  background-color: var(--secondary-btn-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: var(--primary-text-color);
}

.our-team-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;

  color: var(--primary-text-color);
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
}
.our-team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.mailto-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--second-text-color);
}

.tel-header {
  font-family: 'Roboto', sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--second-text-color);
}

.mailto-header:hover,
.mailto-header:focus {
  color: var(--accent-text-color);
}

.tel-header:hover,
.tel-header:focus {
  color: var(--accent-text-color);
}

.mailto-footer {
  font-family: 'Roboto', sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}
.tel-footer {
  font-family: 'Roboto', sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.mailto-footer:hover,
.mailto-footer:focus {
  color: var(--accent-text-color);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-text-color);
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-bg-color);
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  color: var(--primary-text-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--primary-button-color);
  color: var(--primary-bg-color);
}

.section-bth {
  margin-bottom: 50px;
}
.list-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.text-primary {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--primary-text-color);
}

.text-secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: var(--second-text-color);
}
